<script>
	jQuery(document).ready(function($) {
		var socket = io.connect('http://192.168.0.152:8084');
		socket.request('/chat',{
			message: 'hi there!',
			nick: 'Bob'
		}, function (response) {
			$('#chat').append(response.nick + ":" + response.message);
		});
	});
</script>

<% if (models.length) { %>
    <% models.forEach(function(model){ %>
		<div class="blog_entry">
			<h1><%= model.title %></h1>
    		<p><%= model.content%></p>
    	</div>
    <% }) %>
<% } %>

<div id="chat" style="float:right;width:300px;background:#ccc;border:1pt solid #666;"></div>